/*
    Recent > Last Message Time
*/
#pane-side > div:first-of-type > div > div > div > div > div > div:nth-of-type(2) > div:first-of-type > div:nth-of-type(2) {
    filter: blur(recentMessageTimeBlurPx); grayscale(1);
    -webkit-filter: blur(recentMessageTimeBlurPx); grayscale(1);
}

#pane-side > div:first-of-type > div > div > div:hover * {
    filter: unset !important; grayscale(0);
    -webkit-filter: unset !important; grayscale(0);
}