/*
    Recent Box
*/
/* #pane-side>div:first-of-type>div>div>div {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
*/

#pane-side>div:first-of-type>div>div>div:hover * {
    filter: unset !important;
    -webkit-filter: unset !important;
}

/*
    Recent Header
*/
#pane-side>div:first-of-type>div>div>div>div>div>div:nth-of-type(2)>div:first-of-type>div:first-of-type>span {
    filter: blur(3.6px);
    -webkit-filter: blur(3.6px);
}

/*
    Recent Avatar
*/
#pane-side>div:first-of-type>div>div>div>div>div>div:first-of-type>div>div {
    filter: blur(3.6px);
    -webkit-filter: blur(3.6px);
}

/*
    Recent > Last Message Time
*/
#pane-side>div:first-of-type>div>div>div>div>div>div:nth-of-type(2)>div:first-of-type>div:nth-of-type(2) {
    filter: blur(3.6px);
    -webkit-filter: blur(3.6px);
}


/*
    Recent Last Message Sender
*/
#pane-side>div:first-of-type>div>div>div>div>div>div:nth-of-type(2)>div:nth-of-type(2)>div:first-of-type>span>span:first-of-type {
    filter: blur(3.6px);
    -webkit-filter: blur(3.6px);
}


/*
    Recent Last Message Content
*/
#pane-side>div:first-of-type>div>div>div>div>div>div:nth-of-type(2)>div:nth-of-type(2)>div:first-of-type>span>span:nth-of-type(3) {
    filter: blur(3.6px);
    -webkit-filter: blur(3.6px);
}


/*
    Recent Last Message Status
*/
#pane-side>div:first-of-type>div>div>div>div>div>div:nth-of-type(2)>div:nth-of-type(2)>div:first-of-type>span>div:first-of-type {
    filter: blur(3.6px);
    -webkit-filter: blur(3.6px);
}


/*
    Chat Box > Message Box
*/
#main>div:nth-of-type(3)>div>div:nth-of-type(2)>div:nth-of-type(3)>div>div {
    filter: blur(5.0px);
    -webkit-filter: blur(5.0px);
}

#main>div:nth-of-type(3)>div>div:nth-of-type(2)>div:nth-of-type(3)>div>div:hover {
    filter: unset !important;
    -webkit-filter: unset !important;
}

#main>header>div:first-of-type,
#main>header>div:nth-of-type(2){
    filter: blur(5.0px);
    -webkit-filter: blur(5.0px);
}

#main>header:hover *{
    filter: unset !important;
    -webkit-filter: unset !important;
}